/* WELCOME AREA */
 .container {
	font-size: 14px;
	margin-top: 100px;
	padding: 40px;
	position: relative;
    left: 100px;
    top: 0; 
}

#pageTitle {
	color: #555 !important;
	font-weight: 900 !important;
	border-bottom: 1px solid #C1C1C1;
	font-family: '' !important;
	font-size: 30px !important;
	padding-bottom: 20px;
}

#sidebar {
	position: absolute;
	left: -190px;
	top: 0px;
}

#circle {
	width: 210px;
	height: 210px;
	border-radius: 100%;
	background-color: #FAF9D0;
	margin: 20 auto;
	display: flex;
	justify-content: center;
}

#in_circle {
	width: 180px;
	height: 180px;
	border: 2px solid #E98D3E;
	border-radius: 100%;
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dlogo {
	width: 150px;
}

.material-symbols-outlined{
	color: black !important;
	font-weight: bold;
	font-size: 1.8rem;
}

#side-content{
	margin-top: 15px;	
}

#side-content > table{
	width: 160px !important;	
}

#side-content > table > tbody > tr > td :nth-child(2n-1){
	padding-left: 10px;
}

#side-content > table > tbody > tr > td > button,
#side-content > table > tbody > tr > td > form > button{
	font-weight: bold !important;
	color: #888 !important;
	margin: 10px auto;
	padding: 10px;
	width: 100%;
	border: none;
	background-color: unset;
	font-size: 20px;
}
#side-content > table > tbody > tr{
	width: 200px;
}
#side-content > table{
	margin: 0 auto;
}
#side-content > table > tbody{
	border: none;
	
}
#side-content > table > tbody > tr:hover {
	background-color: #F1F1F1 !important;
}

.main_logo,
.mb-0{
	display: none;
}
