	.container {
		width: 1000px;
	}

	.side-container {
		margin-top: 30px;
	
		float: left;

		width: 200px;
	
	}
	
	.side-container .inform-menu-box {
	
		min-height: 250px;
		padding: 0px 50px 0; 
		padding-left:0px;
	
	}
	
	.side-container .inform-menu-box h2 {
		
		color: #333;
		padding:0 0 50px 0px; 
		border-bottom:1px solid #ececec; 
		font-size:24px; line-height:24px; 
		letter-spacing:-0.02em; 
		font-weight: bolder; 
	
	}
	
	.h2-bold {
		font-size: 24pt;
		font-family: 'Pretendard';
		font-weight: 700;
		color: #333;
	}
	
	
	.side-container .inform-menu-box .inform-menu {
	
		margin:0px 0 0 0;
				
	
	
	}
	
	
	.side-container .inform-menu-box .inform-menu{
	
		padding-left: 0px;
		
	}
	

	.side-container .inform-menu-box .inform-menu  li{
	
		padding:10px;

		list-style-type: none;
		

		width: 150px;
		
		
	}

	.side-container .inform-menu-box .inform-menu  a{
	
		text-decoration: none;
		display:block; 
		/* padding:12px 0 12px 12px;  */
		font-size:16px;
		color: #555;
		font-weight:bolder; 
		
	}
	
	
	.side-container .inform-menu-box .inform-menu li:hover,
.side-container .inform-menu-box .inform-menu .inform-item:hover{
		font-weight:bolder; 
		background:#f8f8f8; 
		color:#F27C2A;
	}

	
	.side-container .inform-menu-box .inform-menu .active{
		font-weight:bolder; 
		background:#f8f8f8; 
		color:#F27C2A;
	}
	
	
	
	.info-box > * {
		
		/* padding: 10px; */
		color: #333;
		
	}
	
	.info-box:before {
		border-bottom: 1px solid #F27C2A;
	}
	
	
	.mainbar {
	 	float: left;
		
		width: 770px;
		height: 800px;
		
	}
	
	
	.question-section {
		
		border: 1px solid black;
	
	}
	
	.notice {
		font-size: 26pt;
		font-weight: 700;
	}
	
	.notice-header {
		text-align: center;
		margin-top:20px;
	}
	
	.bold {
		font-size: 24pt;
		font-family: 'Pretendard';
		font-weight: 800;
		color: #333;
	}
	
	.search-btn {
		background-color: white;
		border: 1.5px solid #ccc;
		width: 50px;

	}
	
	.search-btn:hover {
		border: 1.5px solid #F27C2A;
		background-color:#F27C2A;
		color: white;
		width: 50px;
	}
	
	.search-bar{
	
		/* float:right; */
		display: flex;
		justify-content: flex-end;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	
	.notice-side {
		
		align-items:center;
		width: 770px;
		justify-content: center;
		font-size: 12pt;
	
	}
	
	.notice-table {

		
		width: 750px;
		text-align: center;
		
		margin-top:20px;
		margin-left: 10px;
	}
	
	.notice-table td, .notice-table th {
		padding: 7px;
	}
	
	.notice-table tr {
		border-bottom: 1px solid #ccc;
	}
	
	.table-head {
		border-top:1.5px solid #aaa;
		border-bottom: 1.5px solid #aaa;
	}
	
	.th-bold {
		font-size: 13pt;
		font-family: 'Pretendard';
		font-weight: 700;
		color: #333;
	}
	
	.notice-title {
		text-align: left;
		padding-left: 10px;
	}
	
	.notice-title a {
		text-decoration: none;
		color: #333;
	}

	.notice-title a:hover {
		text-decoration: none;
		color: #F27C2A;
	}
	
	.menu-font {
		font-size: 13pt;
		font-family: 'Pretendard';
		/* font-weight: 700; */
		color: #333;
	}
	
	
	
	


		
