<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dndn.inform.mapper.NoticeMapper">
	
	<insert id="add">
		insert into tblNotice values (noticeseq.nextVal, #{title}, #{content}, default, default, #{id}, default)
	</insert>
	
	<select id="noticelist"	resultType="com.project.dndn.inform.domain.NoticeDTO">
		select * from tblnotice order by noticeseq desc
	</select>	

	<select id="noticeget"	resultType="com.project.dndn.inform.domain.NoticeDTO">
		select * from tblnotice where noticeseq= #{noticeseq}
	</select>	
	
	<update id="noticeedit">
		update tblnotice set title = #{title}, content=#{content} where noticeseq = #{noticeseq}
	</update>


</mapper>