<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dndn.auth.mapper.MemberMapper">

	<resultMap type= "com.project.dndn.auth.domain.MemberDTO" id="mMap">
		<id property="id" column="id"/>
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="pw" column="pw"/>
		<result property="tel" column="tel"/>
		<result property="birth" column="birth"/>
		<result property="email" column="email"/>
		<result property="gender" column="gender"/>
		<result property="address" column="address"/>
		<result property="addressdetail" column="addressdetail"/>
		<result property="regdate" column="regdate"/>
		<result property="enabled" column="enabled"/>
		<result property="point" column="point"/>
		<collection property="authlist" resultMap="aMap"></collection>
	</resultMap>
	
	<resultMap type= "com.project.dndn.auth.domain.AuthDTO" id="aMap">
		<result property="id" column="id"/>
		<result property="auth" column="auth"/>
	</resultMap>


	<select id="read" resultMap="mMap">
		select m.id,m.name,m.pw,m.tel,m.birth,m.email,m.gender,m.address,m.addressdetail,m.regdate,m.enabled,m.point,a.auth from tblMember m left outer join tblAuth a on m.id = a.id where m.id = #{id}
	</select>
	<select id="findId" resultType ="String">
		select id from tblMember where name = #{name} and email = #{email}
	</select>

	<select id="idvalidcheck" resultType ="String">
		select id from tblMember where id = #{id}
	</select>
	<select id="emailvalidcheck" resultType ="String">
		select email from tblMember where email = #{email}
	</select>
	<select id="findPw" resultType ="String">
		select pw from tblMember where id = #{id} and email = #{email}
	</select>
	
	<update id="updatepw" >
		update tblMember set pw = #{pw} where id = #{id}
	</update>
	
	<insert id="register">
      insert into tblMember(id, name, pw,tel,birth,email,gender,address,addressdetail,regdate,enabled,point) 
         values (#{id}, #{name}, #{pw},#{tel},#{birth},#{email},#{gender},#{address},#{addressdetail},default,'1',default)
   	</insert>
   	<delete id="delacc">
   		DELETE FROM tblMember WHERE id = #{id}
   	</delete>
   	<delete id="delaccAuth">
   		DELETE FROM tblAuth WHERE id = #{id}
   	</delete>
   <insert id="registerAuth">
      insert into tblAuth(id, auth) values (#{id}, #{auth})
   </insert>
   
   

</mapper>