<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dndn.order.mapper.OrderMapper">

	
	<select id="userlist"  resultType ="com.project.dndn.order.domain.OrderDTO"> 
			  	select 
				        * 
				        from tblmember  
				         inner join tblAuth
				          on tblmember.id = tblAuth.id
				            where tblAuth.auth = 'ROLE_MEMBER'
	</select>

	<select id="user" resultType ="com.project.dndn.order.domain.OrderDTO">
			select 
					* 
					from tblmember
						inner join tblAuth
		          			on tblmember.id = tblAuth.id
		          				where tblmember.id= #{user_id}
	</select>	

	<select id="usernull" resultType ="com.project.dndn.order.domain.OrderDTO">
				select 
						*
							 from tblmember 
							 	inner join tblAuth
		          					on tblmember.id = tblAuth.id
		          						where tblmember.id = (select MAX(tblmember.id) from tblmember) and tblAuth.AUTH = 'ROLE_MEMBER'
	</select>	
	<select id="order" resultType ="com.project.dndn.order.domain.OrderDTO">
	


    select tblOrder.id, tblOrder.orderseq ,tblPeriodShip.shiptime ,tblPeriodShip.dayperweek, tblOrder.price,tblOrder.orderdate, tblOrder.payment, tblOrder.orderseq , tblLunchBox.name ,tblPeriodShip.periodshipseq ,tblPeriodShip.startship,tblPeriodShip.endship from tblOrder 
        inner join tblReview
            on tblReview.id = tblOrder.id
                inner join tblSellBoard
                    on tblSellBoard.sellboardseq = tblReview.sellboardseq
                        inner join tblLunchboxSet
                            on tblLunchboxSet.sellboardseq = tblSellBoard.sellboardseq
                                inner join tblLunchBox
                                    on tblLunchBox.lunchboxseq = tblLunchboxSet.lunchboxseq
                                        inner join tblCart
                                            on tblCart.id = tblOrder.id
                                                left join tblPeriodShip
                                                    on tblCart.periodshipseq = tblPeriodShip.periodshipseq
                                                        where tblOrder.id = #{user_id}
                                                     
	</select>	
	
	
	<select id="storeuserlist"  resultType ="com.project.dndn.order.domain.OrderDTO"> 
		select 
		        * 
		        from tblmember  
		         inner join tblAuth
		          on tblmember.id = tblAuth.id
		    <!--         inner join tblStoreManager
		             on tblStoreManager.id = tblmember.id -->
		                where tblAuth.AUTH = 'ROLE_ADMIN'
	</select>

	<select id="storeuser" resultType ="com.project.dndn.order.domain.OrderDTO">
		select 
				* 
				from tblmember
				    inner join tblAuth
				        on tblmember.id = tblAuth.id
	<!-- 			            inner join tblStoreManager
				             on tblStoreManager.id = tblmember.id -->
				                where tblmember.id= #{user_id}
	</select>	
	
		<select id="storeorder" resultType ="com.project.dndn.order.domain.OrderDTO">
	
			select 
			tblOrder.id , shipdate , shiptime , shipperiod , dayperweek , tblLunchBox.price , orderdate , payment ,orderseq ,tblLunchBox.name, tblPeriodShip.periodshipseq
				from tblOrder 
					inner join tblCart 
						on tblCart.cartseq = tblOrder.cartseq 
							inner join tblPeriodShip
								on tblCart.periodshipseq = tblPeriodShip.periodshipseq 
		                            inner join tblSellBoard
		                                on tblCart.sellboardseq = tblSellBoard.sellboardseq 
		                                    inner join tblLunchboxSet
		                                        on  tblSellBoard.sellboardseq =tblLunchboxSet.sellboardseq  
		                                            inner join tblLunchBox
		                                                on tblLunchBox.lunchboxseq = tblLunchBox.lunchboxseq
		                                                     where tblOrder.id =  #{user_id}
                                                     
	</select>	
			<select id="eventlist" resultType ="com.project.dndn.order.domain.OrderEventDTO">
			
			
			select * from tblevent order by ENDDATE DESC
					
				
			</select>
			<select id="eventopenlist" resultType ="com.project.dndn.order.domain.OrderEventDTO">
			
			
			select * from tblevent where enddate > sysdate
					
				
			</select>
			<select id="eventcloselist" resultType ="com.project.dndn.order.domain.OrderEventDTO">
			
			
			select * from tblevent where enddate <![CDATA[ < ]]> sysdate
					
				
			</select>
			
			
			

			<select id="eventdto" resultType ="com.project.dndn.order.domain.OrderEventDTO">
			
				select * from tblevent where eventseq = #{event_seq}

			</select>
			
			<select id="eventnulldto" resultType ="com.project.dndn.order.domain.OrderEventDTO">
			
				select * from tblevent where eventseq = (select MAX(eventseq) from tblevent)
				
			</select>
			
<insert id="insertevent" parameterType="com.project.dndn.order.domain.OrderEventDTO">
    INSERT INTO tblEvent (eventseq, title, startdate, enddate, sale, pic, pic_board, count)
    VALUES (10, #{title}, #{startdate}, #{enddate}, #{sale}, #{pic}, #{pic_board}, 0)
</insert>
			
			
			
			<update id="updatecount">
			
			update tblEvent set count = count+1 where eventseq = #{event_seq}
			
			</update>
				
			<select id="eventpage" resultType ="com.project.dndn.order.domain.OrderEventDTO">
			
					select * from tblevent where eventseq = #{event_seq}+1 or eventseq = #{event_seq}-1
				
			</select>
			
			
		<select id="couponlist" resultType ="com.project.dndn.order.domain.OrderCouponDTO">
			
			select * from tblCoupon
		
		</select>
			
			
			<insert id="insertcoupon" parameterType="com.project.dndn.order.domain.OrderCouponDTO" >
			
			insert into tblcoupon (couponseq , name , sale, period)
						values (couponseq.nextVal , #{name},#{sale}, sysdate+ ${period2})
			
			</insert>
			

						<insert id="addevent" parameterType="com.project.dndn.order.domain.OrderEventDTO" >
			
		       	insert into tblevent (eventseq ,title , startdate , enddate, sale,pic_board,pic,regdate,count)
						values (eventseq.nextVal,#{title},#{startdate},#{enddate},#{sale},#{pic},#{pic_board},sysdate,0 )               
                        
			
			</insert>
				<update id="updatecoupon" parameterType="com.project.dndn.order.domain.OrderCouponDTO" >
					    UPDATE tblcoupon
						    SET name = #{name},
						        sale = #{sale},
						    <!--            <if test="isDateTimeFormat(period)"> -->
								            period = TO_DATE(#{period}, 'YYYY-MM-DD HH24:MI:SS')
							<!-- 	        </if> -->
								     <!--    <if test="isDateFormat(period)">
								            period = TO_DATE(#{period}, 'YYYY-MM-DD')
								        </if> -->
						   		 WHERE couponseq = #{couponseq}
				</update>
			
		
					
				<update id="editevent" parameterType="com.project.dndn.order.domain.OrderEventDTO" >
				    UPDATE tblevent
						    SET Title = #{title},
                                startdate = TO_DATE(#{startdate}, 'YYYY-MM-DD HH24:MI:SS'),
                                enddate = TO_DATE(#{enddate}, 'YYYY-MM-DD HH24:MI:SS'),
                                sale = #{sale},
                                pic_board=#{pic_board},
                                pic = #{pic}
						   		 WHERE eventseq = #{eventseq}
				</update>
			
			<delete id="deletecoupon">
				delete from tblcoupon where couponseq =  #{coupon_seq}
			</delete>
			
			<delete id="delete_event">
				delete from tblevent where  eventseq =  #{event_seq}
			</delete>
</mapper>