<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dndn.lunchdetail.mapper.LunchDetailMapper">

	<select id="getLunchBoxDetail" resultType="com.project.dndn.lunchdetail.domain.LunchBoxDTO">

        SELECT sb.sellboardseq, sb.content, sb.sale, sb.regdate, sb.periodic, sb.pic, SUM(l.price) AS price
        FROM tblSellBoard sb
                 INNER JOIN tblLunchBoxSet ls ON sb.sellboardseq = ls.sellboardseq
                 INNER JOIN tblLunchbox l ON ls.lunchboxseq = l.lunchboxseq
        where PERIODIC = #{period} and sb.sellboardseq = #{seq}
        GROUP BY sb.sellboardseq, sb.content, sb.sale, sb.regdate, sb.periodic, sb.pic

    </select>

    <select id="lunchBoxDetailList" resultType="String">
        select pic as detail
        from tblLunchBoxDetailPic
        where sellboardseq = #{seq}
    </select>

    <select id="getStoreLocations" resultType="com.project.dndn.lunchdetail.domain.StoreLocationDTO">
        select * from tblStore
    </select>


    <select id="readUserWishList" resultType="int">
        select count(*) from tblWishList where id = #{id} and sellboardseq = #{sellboardseq}
    </select>

    <delete id="deleteUserWishList">
        delete from tblWishList where id = #{id} and sellboardseq = #{sellboardseq}
    </delete>

    <insert id="insertUserWishList">
        insert into tblWishList values(wishlistseq.nextVal, #{id}, #{sellboardseq}, sysdate)
    </insert>

    <insert id="addCart">
        insert into tblCart values (cartseq.nextVal, #{id}, #{sellboardseq}, null, #{cnt}, #{storeseq}, 'F', sysdate)
    </insert>

    <select id="listCart" resultType="com.project.dndn.lunchdetail.domain.CartDTO">
        select c.*, (select name from tblStore where storeseq=c.storeseq) as storename, (select pic from tblSellBoard where sellboardseq = c.sellboardseq) as pic, (select content from tblSellBoard where sellboardseq = c.sellboardseq) as content, (select sale from tblSellBoard where sellboardseq = c.sellboardseq) as sale, (select price from v_sellboard where sellboardseq = c.sellboardseq) as price  from tblCart c where status = 'F'
    </select>

    <delete id="delCart">
        delete from tblCart where cartseq in
            <foreach collection="list" item="cartseq" open="(" close=")" separator="," >
                #{cartseq}
            </foreach>
    </delete>

</mapper>