<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dndn.mypage.mapper.MyPageMapper">

	<!-- 회원정보 조회 -->
	<select id="list" resultType ="com.project.dndn.mypage.domain.MyPageDTO">
		select * from tblMember where id = #{id}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="add">
		update tblMember set 
	<if test= 'pw != null and pw != ""'>
		pw=#{pw},
	</if>
		tel=#{tel}, email=#{email},address=#{address},addressdetail=#{addressdetail} where id = #{id}
	</update>
	
	
	<select id="Flist" resultType="com.project.dndn.mypage.domain.MyPageDTO">
		select 
			o.orderseq, o.orderdate,
			b.name as Lunchname, b.pic as Lunchpic, b.category as LunchCategory,
			p.periodshipseq, p.shipdate, p.shiptime, p.shipperiod, p.dayperweek
		from tblOrder o
			inner join tblOrderCart t
				on o.orderseq = t.orderseq
					inner join tblCart c
						on t.cartseq = c.cartseq
							inner join tblPeriodShip p
								on c.periodshipseq = p.periodshipseq
									inner join tblSellBoard s
										on c.sellboardseq = s.sellboardseq
											inner join tblLunchboxSet l
												on s.sellboardseq = l.sellboardseq
													inner join tblLunchBox b
														on l.lunchboxseq = b.lunchboxseq
															where o.id = #{id}
							
			 
	</select>
	
	<!-- 회원의 주문 조회 -->
	<select id="Olist" resultType="com.project.dndn.mypage.domain.MyPageDTO">
select 
			o.orderseq, o.orderdate, o.couponseq,
			b.name as Lunchname, b.pic as Lunchpic, b.category as LunchCategory, b.price,
			p.periodshipseq, p.shipdate, p.shiptime, p.shipperiod, p.dayperweek,
			c.sale
		from tblOrder o
			inner join tblOrderCart t
				on o.orderseq = t.orderseq
					inner join tblCart c
						on t.cartseq = c.cartseq
							inner join tblPeriodShip p
								on c.periodshipseq = p.periodshipseq
									inner join tblSellBoard s
										on c.sellboardseq = s.sellboardseq
											inner join tblLunchboxSet l
												on s.sellboardseq = l.sellboardseq
													inner join tblLunchBox b
														on l.lunchboxseq = b.lunchboxseq
															inner join tblCoupon c
																on o.couponseq = c.couponseq
																	where o.id = #{id}
	</select>
</mapper>